<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= student.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Suffix name:</strong>
    <%= student.suffix_name %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= student.grade %>
  </p>

  <p>
    <strong>Class number:</strong>
    <%= student.class_number %>
  </p>

  <p>
    <strong>Teacher name:</strong>
    <%= student.teacher_name %>
  </p>

  <p>
    <strong>Favorite pokemon:</strong>
    <%= student.favorite_pokemon %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= student.notes %>
  </p>

</div>
