<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= event.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= event.ends_at %>
  </p>

  <p>
    <strong>Time zone:</strong>
    <%= event.time_zone %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= event.venue %>
  </p>

  <p>
    <strong>Address1:</strong>
    <%= event.address1 %>
  </p>

  <p>
    <strong>Address2:</strong>
    <%= event.address2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= event.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= event.state %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= event.zipcode %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event.status %>
  </p>

</div>
